Repository fga-eps-mds/2022-1-CAPJu-Doc, pull requests merged in 2022-07, with the labels that each got.

#61 Planejamento de Gerenciamento de Tempo
  docs/planejamento/planejamento-de-tempo.md
Labels: DOCS, EPS

#63 Treinamento - GIT
  docs/planejamento/treinamentos.md
Labels: TREINAMENTO

#62 Termo de Abertura do Projeto
  docs/projeto/termo-de-abertura-do-projeto.md
Labels: DOCS, EASY

#99 Documenta treinamento de Desenvolvimento Web
  docs/_sidebar.md
  docs/planejamento/treinamentos.md
Labels: DOCS, EPS

#102 Identidade Visual
  docs/_sidebar.md
  docs/assets/GuiaDeIdentidadeVisual/1.png
  docs/assets/GuiaDeIdentidadeVisual/2.png
  docs/assets/GuiaDeIdentidadeVisual/3.png
  docs/assets/GuiaDeIdentidadeVisual/4.png
  docs/assets/GuiaDeIdentidadeVisual/5.png
  docs/projeto/identidade-visual.md
Labels: DOCS, EASY

#109 Criar documentos do SCRUM
  docs/_sidebar.md
  docs/gerencia/atividades/atividades.md
  docs/gerencia/sprints/sprint0.md
  docs/gerencia/sprints/sprint1.md
  docs/gerencia/sprints/sprint2.md
  docs/sprints/sprint0.md
  docs/sprints/sprint1.md
Labels: DOCS

#110 Documento de Quadros de Conhecimento e Pareamentos
  docs/_sidebar.md
  docs/projeto/quatro-de-conhecimentos.md
Labels: DOCS

#111 Planejamento de Gerenciamento de Riscos
  docs/planejamento/planejamento-de-riscos.md
Labels: DOCS
